/*body {
	background-color: blue;
}
*/

header {
	border: 1px solid midnightblue;
}

header li {
	display: inline-block;
	margin: 0 10px 0 0;
	list-style: none;
}

.disabled {
	color: gray;
}

a .disabled {
	color: purple;
}

.active {
	color: yellow;
}

.parent * div:first-of-type {
	color: red;
}

.parent * div:nth-of-type(2) {
	color: blue ;
}

.parent * div:first-of-type + h4{
	background-color: red;
}

.parent * div:nth-of-type(2) + h4{
	background-color: blue ;
}

.grandparent > h4 {
	border: 1px solid orange;
	border-radius: 10%;
}

.promo {
	font-weight: bolder;
	color: gold;
}

input[type="text"] {
	line-height: 25px;
}